<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BibApp ÄZB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>BibApp BA Thüringen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>BibApp BLS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BibApp Cobi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>BibApp DHGE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>BibApp EAH Jena.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>BibApp FHE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>BibApp HAWK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BibApp HI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BibApp HfM WE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>BibApp IL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BibApp LG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>BibApp NDH.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>BibApp SM.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>BibApp TU BS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>BibApp ThULB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>BibApp UB WE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>BibApp UFB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>BibApp ÄZB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>BibAppUnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F07B12C1BFB72DB0012C325</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F113F90167F20C000E033F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F113FE4167F20F000E033F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F114037167F217000E033F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F1D8343192A2E7000A9898D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F4F7E551786A94D00B61255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F5ACB4A1704DA4A004C4DB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F8A757E1781BF4700CCF7DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F8A76131781C05400CCF7DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F8A76A81781C0D800CCF7DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F8EB5A41A93689000548F24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FA8F4ED19501E6B006CD05A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FA8F58F19502224006CD05A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FA8F6311950228D006CD05A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FA8F6D3195022BC006CD05A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FA8F7751950230D006CD05A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FA8F8171950233A006CD05A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FAD97691A0CFD3600C3A5D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FD61071190916EA009E2358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FD6110D190916EF009E2358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FF26FF416393BF100099665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FF2701A16393BF200099665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FF78FA21679ED1C00D1639F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FFF22C41786B8580077FC8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
