<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BibApp Bib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>BibApp HI.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BibApp LG.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F114037167F217000E033F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F5ACB4A1704DA4A004C4DB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FF26FF416393BF100099665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8FF2701A16393BF200099665</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
